<div style="text-align:center;">
    <h1>TikTok</h1>
    <a href="https://www.tiktok.com/@noah.virus">
        <p>@noah.virus</p>
    </a>
</div>
  
  
  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <div class="container" style="display: flex; flex-direction: column; min-height: 0vh;">
    <!-- Your existing code goes here -->
    
  </div>
</body>
</html>