<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Climbing Buddy</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
 
  <link rel="shortcut icon" href="/favicon.ico?" type="image/x-icon">
  <link rel="icon" href="/favicon.ico?" type="image/x-icon">
  <!-- Bootstrap CSS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <style>a{font-family: Arial, Helvetica, sans-serif;}</style>
    <style>body{background-color:grey; font: arial;color: white;}</style>
</head>
