<!DOCTYPE html>
<html>
  <head>
    <title>ClimbinBuddy</title>
    <link rel="shortcut icon" href="/favicon.ico?" type="image/x-icon">
    <link rel="icon" href="/favicon.ico?" type="image/x-icon">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style>a{font-family: Arial, Helvetica, sans-serif;}</style>
    <style>body{background-color:grey; font: arial;}</style>