<%-include('partials/website_tab_data.ejs')%>
<script src="https://www.paypal.com/sdk/js?client-id=<%=clientID%>"></script>
<script src="/script_for_payment.js"></script>
  </head>
  <body>
    <style>a{font-family: Arial, Helvetica, sans-serif;}</style>
    <style>body{background-color:white; font: arial;}</style>
    <div id="paypal"></div>
  </body>
</html>