<%-include('../partials/website_tab_data.ejs')%>
<body>
  <%-include('../partials/navbar.ejs')%>
    <script>
        function submitForm(i){
            const Form=document.getElementById(i);
            Form.submit()
        }
    </script>
  <style>
    body {
      margin: 0;
      padding: 20px;
    }
  
    .container {
      max-width: 800px;
      margin: 0 auto;
      text-align: left;
    }
    .next-page {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  z-index: 9999;
}

.arrow {
  width: 12px;
  height: 12px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
  margin-bottom: 2px;
}
  </style>
  <div class="container"></div>
  <h1>What are Dynamic Stretches?</h1>
  <p>Dynamic Stretches are used to warm muscles up before exercises, there are many benefits, however the most notable are an increase in blood flow and reduced risk of injury. <n>The places at the biggest risk of injury while climbing are your arms and wrist, so lets warm those up.</p>
  
  <h1>Wrist Stretches</h1>
  <p>For these get on your hands and knees, rock back and forth with your hands forwards, then do the same with your hands pointed towards you, these will help warm your wrist up as well as overtime increase your range of motion, see the video below for an example. If this exercise feels a little weird that's ok because we have plenty more that can help</p>
  <h1>
    Frog hop's
  </h1>
  <p>Frog hops are a full body exercise, in which you hop up onto your hands trying to control the movement up and down to help build strength, see the video below for an example</p>
  <h1>Bear Crawl's</h1>
  <p>Thats right everyone's favorite gym class exercise from middle school can be a warm up for climbing, focussing on building full body strength and dexterity while warming you up for the sends that follow. To do this exercise crawl around on all fours, while trying to keep your butt in the air.</p>
</div>
<a href="exercises" class="next-page">
  <span class="arrow"></span>
</a>


  
<%-include('../partials/foot.ejs')%>