<%-include('partials/website_tab_data.ejs')%>
<body>
  <%-include('partials/navbar.ejs')%>
    <script>
        function submitForm(i){
            const Form=document.getElementById(i);
            Form.submit()
        }
    </script>
    <!-- nav bar stuff-->
<style>
    body {
      margin: 0;
      padding: 20px;
    }
  
    .container {
      max-width: 800px;
      margin: 0 auto;
      text-align: left;
    }
    .next-page {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  z-index: 9999;
}

.arrow {
  width: 12px;
  height: 12px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
  margin-bottom: 2px;
}
  </style>
  <div class="container"></div>
  <h1>What are Frog Hops?</h1>
  <p>Frog hops are a full body exercise, in which you hop up onto your hands trying to control the movement up and down. While this may seem irrelevant to climbing, it can help strengthen your stabilizer muscles as well as giving you more control of your movements.</p>
  <h1>Benefits of Frog Hops</h1>
  <p>Frog hops can help with wrist flexibility and strength as well as helping stabilizer muscles meaning when your pulling at weird angles you have more control of your body</p>
</div>
<a href="exercises" class="next-page">
    <span class="arrow"></span>
  </a>
  
  
    
  <%-include('partials/foot.ejs')%>