<%-include('../partials/website_tab_data.ejs')%>
<body>
  <%-include('../partials/navbar.ejs')%>
    <script>
        function submitForm(i){
            const Form=document.getElementById(i);
            Form.submit()
        }
    </script>
  <style>
    body {
      margin: 0;
      padding: 20px;
    }
  
    .container {
      max-width: 800px;
      margin: 0 auto;
      text-align: left;
    }
    .next-page {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  z-index: 9999;
}

.arrow {
  width: 12px;
  height: 12px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
  margin-bottom: 2px;
}
  </style>
  <div class="container"></div>
  <h1>Plank's</h1>
  <p>Planks are a fundamental exercise for developing core strength and stability, making it particularly beneficial for rock climbers.</p>
  <h1>Types of Planks</h1>
  <p>There are three major types of planks, those are the high plank, the low plank, and the side plank. Each have their own benefits and I would recommend doing all three.</p>
  <h1>The High Plank</h1>
  <p>The high plank is a powerful exercise for strengthening and stabilizing the core muscles. it targets muscles all throughout your hips, core, and shoulder improving stability on the wall as well as helping you stay on the wall when on overhangs. A high plank is done by extending your arms out in front of you and holding a position similar to a pushup for as long as you can.</p>
  <h1>The Low Plank</h1>
  <p>The low plank is a variation that targets deep stabilizing muscles of the core. This exercise emphasizes isometric contraction in these muscles, promoting deep core activation and stability. The low plank can be a preferred option for individuals with wrist issues or discomfort as it reduces pressure on the wrists. Additionally, holding a low plank requires sustained core engagement, leading to increased core endurance and stability during climbing movements. A low plank can be done similar to a high plank but resting on your elbows rather than extended arms.</p>
  <h1>The Side Plank</h1>
  <p>The side plank is another variation, it mostly focuses on the side ab muscles to promote stability this can be really helpful when trying to move side to side in traverses. A low plank is done by laying on one side using an elbow or extended arm for support.</p>

</div>
<a href="exercises" class="next-page">
  <span class="arrow"></span>
</a>


  
<%-include('../partials/foot.ejs')%>