<%-include('../partials/website_tab_data.ejs')%>
<body>
  <%-include('../partials/navbar.ejs')%>
    <script>
        function submitForm(i){
            const Form=document.getElementById(i);
            Form.submit()
        }
    </script>
<style>
    body {
      margin: 0;
      padding: 20px;
    }
  
    .container {
      max-width: 800px;
      margin: 0 auto;
      text-align: left;
    }
    .next-page {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  z-index: 9999;
}

.arrow {
  width: 12px;
  height: 12px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
  margin-bottom: 2px;
}
  </style>
  <div class="container"></div>
  <h1>what are Static Stretches</h1>
  <p>Static Stretches are stretches where you sit/lay into the movement, they are typically done at the end of an exercise to increase flexibility and help keep you from developing bulky muscle that will limit your movement</p>
  <h1>A few static stretches</h1>
  <p>There are a few really helpful ones for climbing, for the first lay face down with one arm across your body and the other straight up, try to lay fully onto the arm. Do this again for the other side to build flexibility in both shoulders. </p>
  <p>The next one we will do is to sit on our knees and lay back, this is really helpful for when you need to get your foot up high behind you.</p>
  <p>The next is to sit criss-cross with the bottom of your feet touching and lean forward, this helps with hip flexibility and if you don/t feel enough tension in that stretch move your feet closer to you.</p>
</div>
<a href="exercises" class="next-page">
    <span class="arrow"></span>
  </a>
  
  
    
  <%-include('../partials/foot.ejs')%>